<h1>Connexion</h1>

<div class="container mt-5 form-group">

<%= form_tag url_for(action: 'create'), method: "post" do %>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Email' %>

      <%= text_field_tag 'email', @user.email, class:"form-control" %>

      <br>

      <%= label_tag 'Mot de passe' %>

      <%= text_field_tag 'password', @user.password, class:"form-control" %>

      <br>

     <div class="form-group">

        <button type="submit" class="btn btn-primary">Connexion</button>

    </div>

<% end %>
</div>
