<h1>Inscription</h1>

 <% flash.each do |msg| %>

    <div class="alert alert-danger" role="alert">

    <%= msg %>

    </div>

<% end %>

 <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Email' %>

      <%= text_field_tag 'email', @user.email %>

      <br>

      <%= label_tag 'Mot de passe' %>

      <%= text_area_tag 'password', @user.password %>

      <br>

     <div class="form-group">

        <button type="submit">Créer</button>
    
    </div>

<% end %>
    


