<h1>Gossips</h1>

<br>

<p>

    <a href="<%= new_gossip_path%>" class="btn btn-success">Créer un gossip</a>

</p>

<br>

<% @gossips.each do |gossip|%>

    <h2><%= gossip.title %> (<%= gossip.id%>)</h2>


    <p><%= gossip.content%></p>

    <p>

        <a href="<%= gossip_path(gossip.id)%>" class="btn btn-primary">Voir le gossip</a>

        <a href="<%= edit_gossip_path(gossip.id)%>" class="btn btn-secondary">Editer</a>

    </p>

<% end %>