<h1><%= @gossip.title %></h1>

<p><%= @gossip.content%></p>

<p>Auteur : <%= @gossip.user.first_name%> <%= @gossip.user.last_name%>
<p>

    <a href="<%= gossips_path %>" class="btn btn-primary">Retourner aux gossips</a>

    <%=link_to "Supprimer", @gossip, :class => "btn btn-danger", :method => "delete" %>

</p>