

<div class="container mt-5 form-group">
    <div class= "bg-light container fieldset mt-3 mr3 pt-3 fieldset col-lg-4 ">
    <h1 class="text-center border-bottom"><%= @gossip.title %></h1>
    <p><%= @gossip.content%></p>

    <p>Auteur : <a href="<%= user_path(@user.id)%>"><%= @gossip.user.last_name%> <%= @gossip.user.first_name%></a>
    <p>

        
        <%= link_to "Retourner aux gossips", gossips_path, class: "btn btn-primary"%>
        <%= link_to "Editer", edit_gossip_path(@gossip.id), class: "btn btn-sm btn-outline-secondary"%>
       

        <%= link_to "Supprimer", gossip_path(@gossip.id), class:"btn btn-sm btn-outline-danger", data:{confirm:"Etes vous sûr de vouloir supprimer ce potin ?", method:"DELETE"} %>

    </p>
    </div>
</div>